@media only screen and (max-width:600px) {
    .nav-link {
        display: inline;
    }
}

*{
    color: azure;
}

body{
    background-color: rgb(43, 43, 43);
    /* background: url("https://i.imgur.com/UchrwtG.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
}

a{
    text-decoration: none;
}

#menu{
    /* display: inline-block; */
    color: rgb(226, 204, 108);
}

button:focus{
   outline: 0;
}

nav button:hover{
    box-shadow: 0 0 10px 4px rgb(226, 204, 108);

}


#aboutme_nav_link{
    color: rgb(226, 204, 108);
    text-decoration-color: rgb(66, 61, 61);
}

#contactme_nav_link{
    color: azure;
    text-decoration-color: rgb(105, 105, 105);
}

#soundcloud_nav_link{
    color: rgb(221, 124, 12);
    text-decoration-color: rgb(105, 105, 105);
}

#youtube_nav_link{
    color: rgb(182, 12, 12);
    text-decoration-color: rgb(105, 105, 105);
}

#name_header{
    color: rgb(226, 204, 108);
}

#name_header, #about_me_header, #about_me_p{
    margin-bottom: 50px;
}

.info_p{
    margin-bottom: 50px;
}

#back_btn{
    color: rgb(216, 210, 210);
    text-decoration: underline;
    text-decoration-color: azure;
    font-size: 18px;
    margin-bottom: 100px;
}

#back_btn:hover{
    text-shadow:  0.4em -0.3em 0.1em rgb(226, 204, 108);
    font-weight: bold;
    font-size: larger;

}