<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- REGULAR CARDS STYLESHEET -->
    <!-- HOME STYLESHEET LINK -->
    <link rel="stylesheet" href="C:\Users\white\Desktop\My Projects\Music Site\static\about_me.css">
    
    <!-- REGULAR CARDS STYLESHEET -->
    <link rel="stylesheet" href="{{ url_for('static', filename='about_me.css') }}">


    <!-- WORK STYLESHEET LINK -->
    <!-- <link rel="stylesheet" href="C:\Users\Tutton\Desktop\Projects\myMusic_site\My-Music-Page\static\about_me.css"> -->
    
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <!-- <script src="C:\Users\Tutton\Desktop\Projects\myMusic_site\My-Music-Page\static\index.js"></script> -->

    <script src="C:\Users\white\Desktop\My Projects\Music Site\static\about_me.js"></script>


    <script src="{{url_for('static', filename='about_me.js')}}"></script>




    <title>Josh | Musician * Singer * Songwriter</title>

</head>
<body>


  <div id="box" class="bg-dark">

    <ul id="nav" class="nav justify-content-center">
      <li class="nav-item">
        <a id="aboutme_nav_link" class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a id="contactme_nav_link" class="nav-link" href="/#contact">Contact</a>
      </li>
      <li class="nav-item">
        <a id="soundcloud_nav_link" class="nav-link" href="https://soundcloud.com/thegreatfable" target="_blank">SoundCloud</a>
      </li>
      <li class="nav-item">
        <a id="youtube_nav_link" class="nav-link" href="https://www.youtube.com/watch?v=h5IfFQDFB4M" target="_blank">YouTube</a>
      </li>
    </ul>
  </div>

  <h4 id="name_header" class="display-3 text-center">The Great Fable</h4>
  
  <div class="content">

    <section>
      <div class="info">
        <h2>Musician</h2>
        <p class="lead">Info about my musicianship and stuff.</p>
        <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque ipsam autem, ipsa expedita atque debitis architecto magnam. Aut maiores tenetur, blanditiis ipsum repellat facere doloribus, quas dolorum necessitatibus a cum?</p>
      </div>
    </section>

    <section>
      <div class="info">
        <h2>Singer</h2>
        <p class="lead">Info about me being a singer and stuff .</p>
        <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque ipsam autem, ipsa expedita atque debitis architecto magnam. Aut maiores tenetur, blanditiis ipsum repellat facere doloribus, quas dolorum necessitatibus a cum?</p>
      </div>
    </section>

    <section>
      <div class="info">
        <h2>Songwriter</h2>
        <p class="lead">Info about me being a songwriter and stuff.</p>
        <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque ipsam autem, ipsa expedita atque debitis architecto magnam. Aut maiores tenetur, blanditiis ipsum repellat facere doloribus, quas dolorum necessitatibus a cum?</p>
      </div>
    </section>


    







    <!-- <div class="container-fluid">
      <div class="row text-center">
        <div class=" boxes col-4 justify-content-center" id="box1">
          <div class="figure">
            <img class="img-fluid" src="https://imgur.com/ELla6Hd.jpg" alt="">
            <div class="caption">
              <div class="info">
                <h2 class="text-justify text-center">Musician</h2>
                <p class="text-justify text-center">Info about what I've done musically and shiii Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil aspernatur consequuntur aperiam illo. Minus vero voluptates, ducimus tempore dolore explicabo facere mollitia illo harum, iusto assumenda? Tempora placeat reprehenderit nulla.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="boxes col-4 justify-content-center" id="box2">
          <div class="figure">
            <img class="img-fluid" src="https://imgur.com/ELla6Hd.jpg" alt="">
            <div class="caption">
              <div class="info">
                <h2 class="text-justify text-center">Singer</h2>
                <p class="text-justify text-center">Info about me singing and my style and shii Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur hic id harum tenetur consequatur illo optio libero nihil eius. Odio velit excepturi cumque? Laudantium accusantium magnam impedit libero, repudiandae perferendis?</p>
              </div>
            </div>
          </div>
        </div>
        <div class="boxes col-4 justify-content-center" id="box3">
          <div class="figure">
            <img class="img-fluid" src="https://imgur.com/ELla6Hd.jpg" alt="">
            <div class="caption">
              <div class="info">
                <h2 class="text-center">Songwriter</h2>
                <p class="text-center">Info about my lyrical abilities and shiii Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, ad, suscipit vero rerum quo cupiditate, dicta velit eveniet perspiciatis beatae a dignissimos voluptatum! Natus explicabo nobis delectus repudiandae suscipit est.</p>
              </div>
            </div>
          </div>
        </div>
      </div> -->
  
    </div>
  
  
  
    <!-- <a class="float-right nav-justified" id="back_btn" href="/">Home</a> -->

  </div>







</body>
</html>