<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">



    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- <link rel="stylesheet" href="C:\Users\white\Desktop\My Projects\Music Site\static\styles.css"> -->

    <link rel="stylesheet" href="C:\Users\Tutton\Desktop\Projects\myMusic_site\My-Music-Page\static\styles.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Dosis&display=swap" rel="stylesheet">

    <!-- <script src="C:\Users\white\Desktop\My Projects\Music Site\static\index.js"></script> -->

    <script src="C:\Users\Tutton\Desktop\Projects\myMusic_site\My-Music-Page\static\index.js"></script>

    <script src="{{url_for('static', filename='index.js')}}"></script>


    <title>Josh | Musician * Singer * Songwriter</title>
</head>
<body>
    <div id="up_top"></div>
    <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
          <div class="bg-dark p-4">
              <ul id="navtoggler" class="nav flex-column">
                <li class="nav-item">
                    <!-- STATIC LINK -->
                    <!-- /C:\Users\white\Desktop\My Projects\Music Site\templates\about_me.html -->
                    <a id="aboutme_nav_link" class="nav_button_links" class="nav-link" href="/about_me">About Me</a>
                </li>
                <li class="nav-item">
                    <a id="contactme_nav_link" class="nav_button_links" class="nav-link" href="#contact">Contact</a>
                </li>
                <li class="nav-item">  
                    <a id="soundcloud_nav_link" class="nav_button_links" class="nav-link" href="https://soundcloud.com/thegreatfable" target="_blank">SoundCloud</a>
                </li>
                <li class="nav-item">
                    <a id="youtube_nav_link" class="nav_button_links" class="nav-link" href="https://www.youtube.com/watch?v=h5IfFQDFB4M" target="_blank">YouTube</a>
                </li>
              </ul>
          </div>
        </div>
        <nav class="navbar navbar-dark bg-dark">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </nav>
    </div>
    <div class="jumbotron bg-dark">

        <div class="container-fluid text-center">
            <h1 id="title_header" class="display-1"> 
                <a class="name_header" href="#">The</a>
                <a class="name_header" href="#">Great</a>
                <a class="name_header" href="#">Fable</a> 
            </h1>
            <div class="row">
                <div class="col">
                    <p class="lead text-center text-justify">Musician | Singer | Songwriter</p>
                </div>

            </div>
        </div>
    </div>

    <div class="card bg-dark text-white">
        <img class="card-img" src="https://imgur.com/q0maIoF.jpg" alt="soundcloud image">
        <div class="middle">
            <div>
                <a style="text-decoration: none;" href="https://soundcloud.com/thegreatfable" target="_blank">
                    
                    <h1 id="soundcloud_link" class="display-4">SoundCloud</h1>
                </a>
            </div>
        </div>
    </div>

    <div id="youtube_card" class="card bg-dark text-white">
        <img id="youtube_img" class="card-img" src="https://imgur.com/m7tyOS2.jpg" alt="youtube image">
        <div class="middle">
            <div>
                <a style="text-decoration: none;" href="https://www.youtube.com/watch?v=h5IfFQDFB4M" target="_blank">
                
                    <h1 id="youtube_link" class="display-4">YouTube</h1>
                </a>
            </div>
        </div>
    </div>

    <div id="status" class="d-flex justify-content-center" style="margin-bottom: 30PX; color: rgb(45, 177, 45);"></div>

    <div id="contact" class="scrollLink container bg-dark">
        <div class="d-flex justify-content-center">
            <h2 id="contact_me">Contact Me</h2>
        </div>
        <div class="d-flex justify-content-center">
            <form name="contactForm" action="/send_form_email.php" method="post">
                <input class="contact_form_input" id="name" type="text" name="name" placeholder="Name">
                <input class="contact_form_input" id="phone" type="text" name="phone" placeholder="Phone #">
                <input class="contact_form_input" id="email" type="text" name="email" placeholder="Email">
                <textarea class="contact_form_input" id="message" name="message" placeholder="Say Hi!"></textarea>
                <button class="btn-dark" type="submit" id="contact_btn">Send it!</button>
            </form>
        </div>

    </div>
    
    <div id="back_to_top" class="d-flex justify-content-end">
        <a href="#up_top">
            <img class="img-fluid" id="up_btn_img" src="https://imgur.com/xa8mxUS.jpg" alt="up arrow">
        </a> 

    </div>

    <!-- BOTTOM PAGE NAV BAR -->
    <nav class="navbar navbar-dark bg-dark">
        
    </nav>
</body>
</html>