<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
 
    
    <!-- REGULAR CARDS STYLESHEET -->
    <link rel="stylesheet" href="{{ url_for('static', filename='media.css') }}">



    
    
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Six+Caps|Dosis&display=swap" rel="stylesheet">




    <script src="{{url_for('static', filename='media.js')}}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script> 

    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">


    <title>Josh | Musician * Singer * Songwriter</title>
</head>
<body>

    <div id="up_top"></div>

    <nav class="nav-bar navbar-dark bg-dark">
    <a class="nav-justified" id="back_btn_top" href="/">Home</a>
    <a class="nav-justified" id="contactme_nav_link" href="/#contact">Contact Me</a>

    </nav>

    <div id="back_to_top" class="d-flex justify-content-end">
        <a href="#up_top">
            <img  id="up_btn_img" src="https://imgur.com/xa8mxUS.jpg" alt="up arrow">
        </a> 
    
    </div>

    <div class="media-section">
        <div class="inner-width">
            <h1>IMAGES</h1>

            <div class="border"></div>
        
            <div id="gallery" class="gallery">
                <a href="https://imgur.com/9VKDdj8.jpg" class="image">
                    <img  src="https://imgur.com/9VKDdj8.jpg" alt="me_vox">
                </a>
                <a href="https://imgur.com/D9EPZrP.jpg" class="image">
                    <img  src="https://imgur.com/D9EPZrP.jpg" alt="">
                </a>
                <a href="https://imgur.com/kRKaQfB.jpg" class="image">
                    <img  src="https://imgur.com/kRKaQfB.jpg" alt="">
                </a>
                <a href="https://imgur.com/MAIuSyW.jpg" class="image">
                    <img  src="https://imgur.com/MAIuSyW.jpg" alt="">
                </a>
                <a href="https://imgur.com/U0w8zvl.jpg" class="image">
                    <img  src="https://imgur.com/U0w8zvl.jpg" alt="">
                </a>
            
            </div>
        
        </div>
    </div>
    <div id="vid-section" class="media-section">
        <div class="innder-width">
            <h1>VIDEO</h1>

            <div class="border"></div>

            <div class="gallery">
                <a href="https://www.youtube.com/watch?v=h5IfFQDFB4M" target="_blank"  class="image">
                    <img  src="https://imgur.com/lvKt6uQ.jpg" alt="">
                </a>
                <a href="https://www.youtube.com/watch?v=wpZ6CgbPUQ0" target="_blank"  class="image">
                    <img  src="https://imgur.com/JzPJRG3.jpg" alt="">
                </a>
                <a href="https://www.youtube.com/watch?v=4lbPM9pT0f4" target="_blank"  class="image">
                    <img  src="https://imgur.com/gl2c924.jpg" alt="">
                </a>
                <a href="https://www.youtube.com/watch?v=e5wcGg5JScQ" target="_blank"  class="image">
                    <img  src="https://imgur.com/q6EkpOI.jpg" alt="">
                </a>
                <a href="https://www.youtube.com/watch?v=uDNigUQvL6c" target="_blank"  class="image">
                    <img  src="https://imgur.com/0QYEWjt.jpg" alt="">
                </a>
            </div>
        </div>

    </div>

    



    <div id="back_to_top" class="d-flex justify-content-end">
        <a href="#up_top">
            <img  id="up_btn_img" src="https://imgur.com/xa8mxUS.jpg" alt="up arrow">
        </a> 
    
    </div>
    
    <a class="float-right nav-justified" id="back_btn" href="/">Home</a>
   
    
</body>
</html>